@import url('https://fonts.googleapis.com/css2?family=Turret+Road:wght@500;700&display=swap');

/* TO-DO: Media Queries + Responsiveness Check */

body {
    background-color: #101010f8;
    overflow: hidden;
}
p {
    color: rgb(255, 0, 212);
    text-align: center;
    font-size: 4vw;
    font-family: 'Turret Road', cursive;
    font-weight: 700;
    letter-spacing: 3px;
    border-bottom: 1px solid rgba(55, 248, 255, 0.596);
    width: 47.5%;
    min-height: 4vh;
    margin: auto;
    margin-bottom: 1vh;

    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: 6vh;
    padding-bottom: 3vh;
}
a {
    text-align: center;
    padding: 0;
    margin: 0 auto;
    font-size: 2vh;
    color: rgba(55, 248, 255, 0.596);
    font-family: 'Turret Road', cursive;
    z-index: -4;
    text-decoration: none;
    display: block;
}

a img {
    margin: 1vh 1vw;
    width: 2vw;
    height: auto;
    border: none;
    padding: 0;
    box-shadow: 0px 0px 0.4em 1px transparent;
    position: absolute;
    left: 48vw;
}

a span {
    position: relative;
    top: 1.5vh;
    right: 2vw;
}
a span:last-child {
    position: relative;
    left: 1.5vw;
}
#firstName {
    background: radial-gradient(circle, #000C, #0006, #0004, #0000);
    text-shadow: 0px 0px 0.5vw rgba(255, 0, 242, 1);
}
#heart {
    color: #0ad1d1;
    font-size: 3vw;
    text-shadow: 0px 0px 0.5vw rgba(0, 225, 255, 1);
    animation: pulse 1.7s infinite;
}

@keyframes pulse {
    0% {font-size: 3vw;
        color: #0ad1d1;
        text-shadow: 0px 0px 0.5vw rgba(0, 225, 255, 0.712);}
    15% {font-size: 3.5vw;
        color: rgba(255, 55, 222, 0.555);
        text-shadow: 0px 0px 1vw rgba(255, 0, 242, 0.712);}  
    25% {font-size: 3vw;
        color: #0ad1d1;
        text-shadow: 0px 0px 0.5vw rgba(0, 225, 255, 0.712);}
    30% {font-size: 3.3vw;
        color: rgba(255, 55, 222, 0.555);
        text-shadow: 0px 0px 1vw rgba(255, 0, 242, 0.712);} 
    100% {font-size: 3vw;
        color: #0ad1d1;
        text-shadow: 0px 0px 0.5vw rgba(0, 225, 255, 0.712);}
}

#lastName {
    background: radial-gradient(circle, #000C, #0006, #0004, #0000);
    text-shadow: 0px 0px 0.5vw rgba(255, 0, 242, 1);
}
#imgBox {
    margin: 0;
    padding: 0;
    width: 100%;
}


.poly {
    clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
    position: relative;
    display: inline-block;
    width: 22.4vw;
    height: 22.4vw;
    background: linear-gradient(rgb(0, 255, 255), rgba(0, 255, 255, 0.336));
    box-sizing: border-box;
    cursor: pointer;
}

.poly img {
    position: absolute;
    top: .3vw;
    left: .3vw;
    width: 21.8vw;
    height: 21.8vw;
    clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
}

.poly:nth-child(2) {
    position: relative;
    right: 2vw;
}
.poly:nth-child(3) {
    position: relative;
    right: 4vw;
}
.poly:nth-child(4) {
    position: relative;
    right: 6vw;
}

.bottomRow {
    position: relative;
    left: 10.25vw;
    bottom: 5.5vw;

}

.poly:hover {
    transform: scale(1.5);
    transition: all .5s cubic-bezier(.88,.04,0,.95);
    z-index: 99;
}

.zoom {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .7);
    z-index: 9999;
    display: flex;
    justify-content: center;
}
.zoomed {
    max-width: 84vw;
    max-height: 90%;
    align-self: center;
    border: 1px solid aqua;
    box-shadow: 0px 0px 6px 1px aqua;
}
.hidden {
    display: none;
}
.close {
    position: relative;
    top: 50px;
    left: 25px;
    cursor: pointer;
    height: 30px;
    width: 30px;
    padding: 5px;
    border: 2px solid aqua;
    border-radius: 50%;
}
.close:hover {
    border: 2px solid #ff00ff;
    box-shadow: 0px 0px 4px 2px #ff00ff5b, inset 0px 0px 4px 2px #ea00ff5b;
}
.close:hover div {
    background-color: #ff00ff;
  }
  .bar1,
  .bar2 {
    width: 36px;
    height: 5px;
    border-radius: 10px;
    background-color: aqua;
    margin: 7px 0;
    transition: all 0.2s linear;
  }
  .bar1 {
    transform: rotate(-45deg) translate(-6px, 1px);
  }
  .bar2 {
  transform: rotate(45deg) translate(-7px, -2px);
}
  .navIcon {
    cursor: pointer;
  }

  .bar1Bye {
    transform: rotate(45deg) translateX(50px);
  }
  .bar2Bye {
    transform: rotate(-45deg) translateX(-50px);
  }

  h2 {
      margin: 0 auto .5vh auto;
      padding: 0;
      text-align: center;
      font-size: 2.5vh;
    color: rgba(55, 248, 255, 0.596);
    font-family: 'Turret Road', cursive;
    position: relative;
    bottom: 20px;
  }

#matrix {
    width: 100vw;
    height: 100%;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -999;
}